.interface-complementary-area__fill:has(> .interface-complementary-area.editor-sidebar > .aig-gutenberg-sidebar) {
	width: 600px !important;
}

.interface-complementary-area.editor-sidebar:has(> .aig-gutenberg-sidebar) {
	width: 600px !important;
	min-width: 600px !important;
}

.interface-complementary-area.editor-sidebar:has(> .aig-gutenberg-sidebar) > .aig-gutenberg-sidebar {
	min-width: 0;
}

@media (max-width: 781px) {
	.interface-complementary-area__fill:has(> .interface-complementary-area.editor-sidebar > .aig-gutenberg-sidebar) {
		width: 100vw !important;
	}

	.interface-complementary-area.editor-sidebar:has(> .aig-gutenberg-sidebar) {
		width: 100vw !important;
		min-width: 0 !important;
	}
}
